/*체크박스 안보기에 하기*/

input[id="menuicon"]{
    display:none;
}

/* 체크박스에 모양 만들기 */
input[id="menuicon"]+label{
    display: block;
    width: 30px;
    height: 20px;
    position:fixed;
    right: 10px;;
    bottom:calc(5% - 25px);
    transition: all .35s;
    cursor: pointer;
}

/* 체크박스 클릭시 사이드바 나온만큼 같이 이동 */
input[id="menuicon"]:checked+label{
    z-index: 2;
    right: 500px;
}

input[id="menuicon"]+label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px; /* 둥근테두리만들기 */
    background:#000;
    transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1){
    top:0;
}
input[id="menuicon"]+label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
    bottom:0;
}

/* 체크박스 눌렀을때 효과 */
input[id="menuicon"]:checked+label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked+label span:nth-child(2){
  opacity:0;
}
input[id="menuicon"]:checked+label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

/* 사이드바 */
div[class="sidebar"]{
    width: 500px;
    height: 100%;
    background-color: #222;
    position: fixed; /* 사이드바 고정(스크롤 안되게) */
    top: 0;
    right: -500px; /* 사이드바 안보일때 숨기기위해 */
    z-index: 5; /* 사이드바 체크박스 보이게 하기 위해 */
    transition: all .35s;
}

/* 사이드바 버튼 외 눌럿을때 들어가게 하기 */
.sidebar label[for*='menuicon']{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    transition: all .35s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

/* 사이드바 눌렀을때 나오게 하기 */
input[id="menuicon"]:checked+label+div{
    right:0;
}
input#menuicon:checked ~ .background{
    opacity: 1;
    visibility: visible;
}

/* 헤더 */
.login{
    padding-top: 1%;
    padding-right: 1%;
    text-align: right;
}
header{
    width: 100%;
    background-color: rgba(92,207,223,0.856);
}
header > .lo{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
ul{
    list-style:none;
}

/* container */
.se{
    text-align: left;
}
textarea{
    width: 250px;
}
.container{
    padding-left: 21%;
}
.shop_name > h2 {
    text-align: left;
}
div[class="container"]>table{
    width: 800px;
    height: 100px;
    border-collapse: collapse;
}
.container > .shoppingback{
    position: absolute;
    top: 20%; right: 12%;
}

/* 오른쪽 사이드바 테이블 리뷰 */
h2{
    text-align: center;
    color: #eee;
}
div[class="sidebar"] > table{
    width: 500px;
    height: 100px;
    border-collapse: collapse;
    color: #eee;
}
tr {
    border: 1px solid #eee;
    text-align: center;
}
th{
    position: sticky;
}

/* 왼쪽사이드바 */
a{
    color: inherit;
    text-decoration: none;
}
div[class="left_sidebar"]{
    position:absolute;
    top:0;
    left:0px;
    width:300px;
    height: 100%;
    background-color: #efefef;
    transition: background-color .4s, left .4s, color 4s;
}

.left_sidebar:hover{
    left: 0;
    background-color: black;
    color: white;
}

.left_sidebar > .icon-status > div{
    text-align: right;
    padding: 5px;
}

.left_sidebar > .menu-box-1 >ul >li >a {
    font-weight: bold;
    display: block;
    padding: 10px;
}

.left_sidebar > .menu-box-1 >ul >li:hover >a {
    background-color: white;
    color: black;
}
